<section>
  <%= form_for(User.new, url: {action: :create}, html: {class: "login_form"}) do |f| %>
    <%= f.text_field :email %>
    <br>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Login" %>
  <% end %>
</section>
