<div class="nested-fields">
  <%= f.text_field :title %>
  <%= f.text_area :description %>
  <div class="row">
    <div class="small-6 columns">
      <%= f.number_field :price %>
    </div>
    <div class="small-6 columns">
      <%= f.select :currency, options_for_select(['USD','CZK','EUR']) %>
    </div>
  </div>
</div>
