<% provide :title, "Home" %>
<article>
  <header>
    <h1>John Hager</h1>
    <h6 class="subheader">
      Budding Web Developer who loves Ruby and uses Rails
    </h6>
    <blockquote>
      I believe in working in an environment that raises the 
      confidence and skills of the entire team as equals.
    </blockquote>
  </header>

  <section>
    <h2>My Goals</h2>
    <ul>
      <li>To learn something interesting every day,</li>
      <li>To work with people who trust and respect me, and</li>
      <li>To enjoy and be challenged by the projects I work on.</li>
    </ul>
  </section>

  <section>
    <h2>My Services</h2>
    <ul>
      <li>
        Simple Ruby on Rails Web Applications using Rails 3.x
        and 4.x.
      </li>
      <li>
        Command Line tools written in Ruby for automating tasks.
      </li>
      <li>
        Building or updating test suites for Ruby or Rails apps
      </li>
      <li>
        Simple HTML and CSS templates/layouts using custom CSS and 
        JavaScript or using Foundation (which was used for this site)
        or Bootstrap.
      </li>
    </ul>
  </section>

  <section>
    <h2>Github Activity</h2>
    
    <div class="row">
      <div class="medium-4 large-4 columns">
        <%= image_tag @events.first["actor"]["avatar_url"], class: "profile" %>
        <h6 class="subheader">@jphager2</h6>
      </div>
      <div class="medium-8 large-8 columns">
        <table>
          <thead>
          </thead>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <% commit = event["payload"]["commits"].last %>
                <% commit_path = commit["url"].sub('//api','//www').sub('/repos/','/')%> 
                <td class="code">
                  <% out = "" %>
                  <% out << DateTime.parse(event['created_at']).strftime("On %a, %d %b at %I:%M%p") << ",\s" %>
                  <% out << "<span class=\"red\">John</span>: <span class=\"yellow\">" << event['type'].sub('Event', '').downcase << "</span>\s=><br><span class=\"green\">" %>
                  <% out << event["repo"]["name"] << "</span>" %>


                  <%= link_to commit_path do %> 
                    <div>
                      <%= out.html_safe %>
                      <br>
                      <blockquote>
                        <%= commit["message"] %>
                      </blockquote>
                  </div>
                   <% end %>
               </td>
             </tr>
           <% end %>
          </tbody>
        </table>
      </div>
  </section>
</article>

