<% provide :title, "Home" %>
<article>
  <header>
    <h1>John Hager</h1>
    <h6 class="subheader">
      Budding Web Developer who loves Ruby and uses Rails
    </h6>
    <blockquote>
      I believe in working in an environment that raises the 
      confidence and skills of the entire team as equals.
    </blockquote>
  </header>

  <section>
    <h2>My Goals</h2>
    <ul>
      <li>To learn something interesting every day,</li>
      <li>To work with people who trust and respect me, and</li>
      <li>To enjoy and be challenged by the projects I work on.</li>
    </ul>
  </section>
</article>

