<% provide :title, "Portfolio" %>
<article>
  <header>
    <h1>Portfolio</h1>
  </header>

  <section>
    <p>
      Look through the links below to get an idea of what projects
      I have worked on. Or check out my 
      <%= link_to "github profile", "https://www.github.com/jphager2", target: "_blank" %> 
      .
    </p>
  </section>

  <section>
    <div id="panel1" class = "content active">
      <ul class="small-block-grid-1 medium-block-grid-2">
        <%= render @projects %>
      </ul>
    </div>
  </section>
</article>
