<article>
  <h1 class="code"><%= @project.name %></h1>
  <section class="text-center">
    <%= link_to @project.url, target: "_blank" do %>
      <%= wicked_pdf_image_tag @project.image %>
    <% end %>
    <p><%= @project.description %></p>
  </section>
</article>
