<h1 class="code"><%= @project.name %></h1>
<section class="text-center">
  <%= link_to @project.url, target: "_blank" do %>
    <%= image_tag @project.image.normal.url %>
  <% end %>
  <p><%= @project.description %></p>
</section>
