<article>
  <header>
    <h1><%= @project.name %></h1>
  </header>
<section class="centered">
  <%= link_to @project.url, target: "_blank" do %>
    <%= image_tag @project.image.normal.url %>
  <% end %>
  <p><%= @project.description %></p>
</section>

