<% experiences = [
  {
    organization: "Cortis Consulting",
    title: "Ruby on Rails Developer",
    time: "September 2015 to Present",
    achievements: [
      "Our Rails development team placed 10th in the 2015 Rails Rumble with our application \"Peasant\", which makes building tests for production web applications simple for both developers and their clients."
    ]
  },
  {
    organization: "Freelance Consultant",
    title:        "Web Developer",
    time:         "September 2013 to August 2015",
    achievements: [
      "Currently doing Rails work for Gravastar sro in Prague",
      "Worked with individual teams within the client organization to create a user-friendly, database driven, set of SharePoint sites that allows for the accessibility of organizational information and facilitates business processes",
      "Cleaned up HTML code for a client CFML website, and extracted integrated styles into a coherent CSS class structure",
      "Updated client websites (PHP and CFML) occasionally as webmaster",
    ],
  },
  {
    organization: "Freelance Consultant",
    title:        "Finance and Knowledge Management",
    time:         "September 2013 to February 2014",
    achievements: [
      "Managed cashflow, budget, payables, and recievable tracking documents, and transfered expertise and knowledge to new resource of the client",
    ],
  },
  {
    organization: "The Academy of Business in Society",
    title:        "Operations Coordinator",
    time:         "April 2012 to September 2013",
    achievements: [
      "Administrator of the organization’s cloud-based IT system, including Exchange and SharePoint Online",
    "Central member of the organization’s finance team, with specific responsibilities of invoicing, managing receivables and payables, and budget planning",
    ],
  },
  {
    organization: "European Parliament, Directorate General for Interpretation and Conferences, Communication Interinstitutional, and International Cooperation Unit",
    title:        "Stagiaire",
    time:         "October 2011 to February 2012",
    achievements: [
      "Co-managed the Directorate General's external communication via social media",
      "Formed and implemented new communication strategies",
      "Monitored various media for and created new content related to the DG and conference interpreting",
    ],
  },
  {
    organization: "UMBC Department of Modern Languages, Linguistics, and Intercultural Communication’s German Conversation Program",
    title:        "Instructor",
    time:         "February 2010 to May 2010",
    achievements: [
      "Created and executed lesson plans to focus on improving German students’ confidence and ability in reading, writing, and speaking especially in a conversational context in a way that optimized learning for students and fostered a high standard of learning that the University saught to obtain",
    ],
  },
  {
    organization: "Howard County Public School System",
    title:        "Substitute Teacher",
    time:         "March 2009 to June 2010",
    achievements: [
      "Worked with language department head to create a coherent plan for introductory, intermediate, and advanced German classes in accordance with the standard curriculum",
    ],
  },
]%>

<div class="row">
  <div class="large-4 columns">
    <h3>Professional Experience</h3>
  </div>                  <!-- end of Header side --> 
  <div class="large-8 columns">
    <% experiences.each do |experience| %>
    <div class="row">
      <div class="small-12 columns left">
        <h5><%= experience[:organization] %></h5>
      </div>
    </div>                <!-- end of Organization header -->
    <div class="row">
      <div class="small-8 columns">
        <em><%= experience[:title] %></em>
      </div>
      <div class="small-4 columns">
        <em><%= experience[:time] %></em>
      </div>
    </div>                <!-- end of job sub row -->
    <div class="row">
      <div class="small-12 columns">
        <ul>
          <% experience[:achievements].each do |achievement| %>
          <li>
          <%= achievement %>
          </li>
          <% end %>
        </ul>
      </div>              <!-- end of Description -->
    </div>                <!-- end of job sub row -->      
    <% end %>
  </div>           <!-- end of Professional Experience sub rows -->
</div>             <!-- end of Professional Experience -->

