<% studies = [
  { 
    place:       "Coursera", 
    title:       "Learn to Program: The Fundamentals",
    description: "University of Toronto, non-credit (using Python)",
    time:        "January 2014"
  },
  { 
    place:       "Code Academy and Stack Overflow", 
    title:       nil,
    description: "Ruby, HTML/ CSS, JavaScript",
    time:        "Continuing"
  },
]
%>
<div class="row">
  <div class="large-4 columns">
    <h3>Independent Study</h3>
  </div> 
  <% studies.each do |study| %>
  <div class="large-8 columns">
    <div class="row">
      <div class="small-11 small-offset-1">
        <h5><%= study[:place] %></h5> 
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-offset-2">
        <h6><%= study[:title] %></h6>
        <em><%= study[:time]  %></em>
      </div>
    </div>
    <div class="row">
      <div class="small-9 small-offset-3">
        <ul>
          <li>
          <%= study[:description] %>
          </li>
        </ul>
      </div>
    </div>                <!-- end study rows -->
  </div>                   <!-- end of right side -->
  <% end %>
</div>                     <!-- end of Independent Study row -->

