<div class="row">
  <div class="large-4 columns">
    <h3>Independent Study</h3>
  </div> 
  <div class="large-8 columns">
    <div class="row">
      <div class="small-11 small-offset-1">
        <h5>Coursera</h5> 
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-offset-2">
        <h6>Learn to Program: The Fundamentals</h6>
        <em>January 2014</em>
      </div>
    </div>
    <div class="row">
      <div class="small-9 small-offset-3">
        <ul>
          <li>
            University of Toronto, non-credit, online course 
            (using Python)
          </li>
        </ul>
      </div>
    </div>                <!-- end coursera rows -->
    <div class="row">
      <div class="small-11 small-offset-1">
        <h5>Other</h5> 
      </div>
    </div>
    <div class="row">
      <div class="small-10 small-offset-2">
        <h6>Code Academy</h6>
        <em>Present</em>
      </div>
    </div>
    <div class="row">
      <div class="small-9 small-offset-3">
        <ul>
          <li>
            Ruby, HTML/ CSS, JavaScript
          </li>
        </ul>
      </div>
    </div>                 <!-- end codeacademy rows -->
  </div>                   <!-- end of right side -->
</div>                     <!-- end of Independent Study row -->

