<div class="row">
  <div class="large-4 columns">
    <h3>Human Languages</h3>
  </div>                  <!-- end of left side -->
  <div class="large-8 columns">
    <p>
      Excellent German, with basic knowledge of Czech and French.
    </p>
  </div>                  <!-- end of right side -->
</div>                    <!-- end of Human Languages -->

