<div class="row">
  <div class="large-4 columns">
    <h3>Projects</h3>
  </div>                  
  <div class="large-8 columns">
    <h6 class="subheader">
      <%= link_to "See my portfolio", "portfolio" %>
    </h6>
  </div>
</div>

