<div class="row">
  <div class="large-4 columns">
    <h3>Skills</h3>
  </div>                  <!-- end of left side -->
  <div class="large-8 columns">
    <p>
      Ruby, Python, JavaScript(languages), HTML, CSS, JavaScript,
      and Foundation(frontend web development), Rails, Sinatra
      and Railo-CMFL(backend web development), Git(version 
      control), Heroku(deploying apps), SharePoint and Exchange
      online administration.
    </p>
  </div>                  <!-- end of right side -->
</div>                    <!-- end of Skills -->

