<% activities = [
  {
    time:        "2012",
    description: 'Volunteer Organizer for JCI, the Heart of Europe\'s “Leadership, Social Change & Professional Development: Your Future in Brussels” event',
  },
  {
    time:        "2011",
    description: "Volunteer for Brussels Forum organized by the German Marshal Fund of the United States--Contacted participants for logistical information, helped with preparations, welcomed participants, helped organize transportation, etc.",
  },
  {
    time:        "2010",
    description: "Paid volunteer for the Annual Conference on Economic developments in European competition policy organized by the Charles Rivers Associates",
  },
  {
    time:        "2010",
    description: "Volunteer for Knowledge4Inovation at the 2nd European Innovation Summit--Basic problem-solving and logistical tasks",
  },
  {
    time:        "2010",
    description: "Volunteer for UNICEF’s Prague office--Office organization, preparation, and small event management",
  },
  {
    time:        "2010",
    description: "Volunteer with flood clean-up in the Czech Republic with ADRA",
  },
]
%>

<div class="row">
  <div class="large-4 columns">
    <h3>Volunteer Activities</h3>
  </div> 
  <div class="large-8 columns">
    <ul>
      <% activities.each do |activity| %>
      <li>
        <span class="activity-time">(<%= activity[:time] %>)</span>
        <span class="activity"><%= activity[:description] %></span>
      </li>
      <% end %>
    </ul>
  </div>
</div>                     <!-- end of Volunteer Activities row -->
