<li class="divider hide-for-medium"></li>
<li><%= link_to "Clients", clients_path %></li>
<li class="divider hide-for-medium"></li>
<li><%= link_to "Invoices", invoices_path %></li>
<li class="divider hide-for-medium"></li>
<li><%= link_to "Admin", admin_path %></li>
<li class="divider hide-for-medium"></li>
<li>
  <%= link_to "Logout", logout_path, method: "delete" %>
</li>

