<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/nav' %>
    
    <div class="row">
      <div class="large-8 columns">
        <%= yield %>
      </div>
      <%= render 'layouts/github_side' %>

    </div>
  </body>
</html>
