<!DOCTYPE html>
<html>
<head>
  <title>John Hager Info | <%= @project.name %></title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <% if Rails.env.development? %>
    <%= wicked_pdf_stylesheet_link_tag("application").gsub(/url\("\//, "url(\"file://#{Rails.root}/").html_safe %>
  <% else %>
    <style>
      <%= File.read("#{Rails.root}#{asset_path('application.css')}").html_safe %>
    </style>
  <% end %>
  <style>
    .code, h1, h2, h3, h4, h5, h6 {
      font-family: "Liberation Mono", Courier, monospace;
    }
  </style>

</head>
<body>
  <%= yield %> 
</body>
</html>
